@import './gilroy-bold.css';
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #FFFFFF;
  padding: 2%;
}

.top-bar {
  background-color: #007171;
  width: 99vw;
  height: 6vh;
}

.logo {
  height: 100%;
  align-items: center;
  display: flex;
}

#logoImg {
  width: 118px;
  height: 24px;
  margin-left: 3%;
}

.bodyApp {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
  width: 99vw;
  height: 93vh;
}

.sideBar {
  flex: 1;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 30vw;
  height: 94vh;
}

.menu-sidebar {
  margin-top: 1%;
}

.menuHome img {
  margin: 4% 0 0 12%;
}

.bodyReset {
  flex: 3;
  flex-direction: row;
  width: 99vw;
  margin: 2% 0 0 2%
}

.headerBodyReset h1 {
  font-family: 'Gilroy-Medium';
  font-size: 48px;
}

.infoReset {
  background-color: #FFFFFF;
  width: 45vw;
  padding-bottom: 1%;
}

.container {
  padding: 1% 0 0 4%;
}

.PBold {
  font-family: 'Gilroy-Bold';
  font-size: 20px;
}

.radioGroup {
  padding: 1% 0% 2% 0%;
}

.radioGroupBot {
  flex-direction: column;
}

.groupBot {
  flex-direction: column;
  display: flex;
}

.radioBot span {
  width: 5%;
  margin: 0px;
}

.input-group-text {
  border: none;
  background-color: unset;
}

.userNumber {
  width: 14vw;
  height: 4vh;
}

.tooltipButton {
  border: none;
  background: none;
  margin-top: -1%
}

.IconTooltip {
  color: #0A273D;
  width: 16px;
  height: 16px;
}

.tooltipText {
  background-color: #FFBE3B;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  box-shadow: 0 3px 10px 0px rgb(0 0 0 / 0.2)
}

.tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-width: 0 5px 5px;
}

.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #FFBE3B;
  color: #FFBE3B;
  right: -4px;
}

.tooltip-inner {
  color: black;
  background-color: unset;
  max-width: none;
  text-align: left;
}

.tooltip-inner p {
  margin: 0;
  padding: 0;
}

.buttonReset {
  background-color: #007171;
  padding: 1% 2% 1% 2%;
}

.footerButton {
  text-align: end;
  margin-top: -3%;
  font-family: 'Gilroy-Medium';
  font-size: 14px;
}

.radioStage {
  background-color: white;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007171;
  border-radius: 50%;
  outline: none;
}

.radioStage:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 21% auto;
  border-radius: 50%;
}

.radioStage:checked:before {
  background: #007171;
}

.radioStageL {
  background-color: white;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007171;
  border-radius: 50%;
  outline: none;
}

.radioStageL:disabled {
  background-color: white;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  border-radius: 50%;
  outline: none;
}

.radioStageL:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

.radioStageL:checked:before {
  background: #007171;
}

.radioBot {
  background-color: white;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007171;
  border-radius: 50%;
  outline: none;
}

.radioBot:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 19% auto;
  border-radius: 50%;
}

.radioBot:checked:before {
  background: #007171;
}

.radioBotB {
  background-color: white;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007171;
  border-radius: 50%;
  outline: none;
}

.radioBotB:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 19% auto;
  border-radius: 50%;
}

.radioBotB:checked:before {
  background: #007171;
}

#spanRadio {
  margin-left: 5%;
  vertical-align: super;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 250px !important;
  }
  .col-3 {
    width: 50% !important;
  }
  .userNumber {
    width: 38vw !important;
    height: 4vh !important;
  }

  .footerButton{
    margin-top: 3% !important;
  }
}