@import './gilroy-bold.css';
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #FFFFFF !important;
  padding: 2% !important;
}

.top-bar {
  background-color: #007171;
  width: 99vw;
  height: 6vh;
}

.logo {
  height: 100%;
  align-items: center;
  display: flex;
}

#logoImg {
  width: 118px;
  height: 24px;
  margin-left: 3%;
}

.bodyApp {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
  width: 99vw;
  height: 93vh;
}

.sideBar {
  flex: 1;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 30vw;
  height: 94vh;
}

.menu-sidebar {
  margin-top: 1%;
}

.menuHome img {
  margin: 4% 0 0 12%;
}

.bodyReset {
  flex: 3;
  flex-direction: row;
  width: 99vw;
  margin: 2% 0 0 2%
}

.headerBodyReset h1 {
  font-family: 'Gilroy-Medium';
  font-size: 48px;
}

.infoReset {
  background-color: #FFFFFF;
  width: 45vw;
}

.container {
  padding: 1% 0 0 4%;
}

.PBold {
  font-family: 'Gilroy-Bold';
  font-size: 20px;
}

.radioGroup {
  padding: 1% 0% 2% 0%;
}

.radioGroupBot {
  flex-direction: column;
}

.groupBot {
  flex-direction: column;
  display: flex;
}

.radioBot span {
  width: 5%;
  margin: 0px;
}

.input-group-text {
  border: none !important;
  background-color: unset !important;
}

.userNumber {
  width: 14vw;
  height: 4vh;
}

.tooltipButton {
  border: none;
  background: none;
  margin-top: -1% !important
}

.IconTooltip {
  color: #0A273D;
  width: 16px;
  height: 16px;
}

.tooltipText {
  background-color: #FFBE3B;
  font-family: "Gilroy-Bold" !important;
  font-size: 14px;
  box-shadow: 0 3px 10px 0px rgb(0 0 0 / 0.2)
}

.tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-width: 0 5px 5px;
}

.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #FFBE3B !important;
  color: #FFBE3B !important;
  right: -4px !important;
}

.tooltip-inner {
  color: black !important;
  background-color: unset !important;
  max-width: none !important;
  text-align: left !important;
}

.tooltip-inner p {
  margin: 0;
  padding: 0;
}

.buttonReset {
  background-color: #007171 !important;
  padding: 1% 2% 1% 2%;
}

.footerButton {
  text-align: end;
  margin-top: -3%;
  font-family: 'Gilroy-Medium';
  font-size: 14px;
}

.radioStage {
  background-color: white !important;
  -webkit-appearance: none !important;
  width: 20px !important;
  height: 20px !important;
  border: 2px solid #007171 !important;
  border-radius: 50% !important;
  outline: none !important;
}

.radioStage:before {
  content: '' !important;
  display: block !important;
  width: 60% !important;
  height: 60% !important;
  margin: 20% auto !important;
  border-radius: 50% !important;
}

.radioStage:checked:before {
  background: #007171 !important;
}