@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Bold'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Heavy';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Heavy'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Light'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Light.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Medium'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Regular'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Regular.woff') format('woff');
}


